body {
    background-color: rgb(84, 85, 85);
    color: (blue);
    text-align: center;
}

h1 {
    background-color: rgb(84, 85, 85);
    color:red;
    text-align:left;
}

p {
    background-color:bisque;
    color:rgb(0, 0, 0);
    text-align: left;
}
