body {
    background: linear-gradient(to bottom right, white,black);
    background-repeat:no repeat;
    background-attachment:fixed;
    color:blue;
    text-align: center;
    height: 100vh;
    margin:0;
}

h1 {
  
    color:red;
    text-align:center;
}

p {
  
    color:black;
    text-align:center;
}
