body {
    background: linear-gradient(to bottom right, white,black);
    background-repeat:no-repeat;
    background-attachment:fixed;
    font-family:"Courier New", monospace;
    color:white;
    text-align: center;
    height: 100vh;
    margin:0;
}

h1 {
  
    color:red;
    text-shadow:
        0 0 5px white,
        0 0 10px cyan,
        0 0 20px cyan;
    text-align:center;
}

p {
  
    color:black;
    text-align:center;
}
